body { 
	background-image: url("https://images2.alphacoders.com/927/thumb-1920-927337.png"); 
}

.container {
	background-color: black;
	margin: 0px auto;
	padding: 30px ;
	margin-top: 200px
}

.content {
	text-align:center;
	margin-top: 20px;
	color: white;

}
.heading img{ 
	margin-left: 65px;
	width: 960px;
	height:300px;


}

/* .content button {
	
	
} */


