body { 
	background-image: url("https://images2.alphacoders.com/927/thumb-1920-927337.png"); 
}

/* .container {
	
} */

.content {
	text-align:center;
	
	color: white;
	background-color: black;
	
	padding: 30px ;
	margin-top: 200px

}
.heading img{ 
	margin-left: 50px;
	width: 960px;
	height:300px;


}

.content button {
	margin-top:15px;
	
}

.heading2 img{ 
	margin-left: 50px;
	width: 960px;
	height:300px;



}

.questions {
	color: white;
	background-color: black;
	
	padding-bottom: 10px ;
	display: none;


}

.time {
	margin-top: 10px;
	text-align: center;
}

.questionDiv {

	text-align: center;
}


